<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.melo.focus.mapper.extend.ResourceAuthorityExtendMapper" >
  <resultMap id="BaseResultMap" type="com.melo.focus.domain.basic.Authority" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="controller" property="controller" jdbcType="VARCHAR" />
    <result column="des" property="des" jdbcType="VARCHAR" />
  </resultMap>
 
  <select id="getAuthorityByResource" resultType="string" >
    select authority_id
    from resouce_authority
    where resource_id in
    	<foreach collection="resourceList" open="(" close=")" item="resourceId" separator=",">
			#{resourceId}
    	</foreach>
  </select>
  
  <delete id="deleteResourceAuthority">
  	delete from resouce_authority
  	<where>
  		<if test="resourceId!=null">
  			and resource_id=#{resourceId,jdbcType=VARCHAR} 
  		</if>
  		<if test="authorityId!=null">
  			and authority_id =#{authorityId,jdbcType=VARCHAR} 
  		</if>
  	</where>
  </delete>
  
</mapper>